html {
    font-size: 10px;
    font-family: "Roboto Slab", serif;
    background: #482218 url("../bilder/background-2.jpeg") no-repeat left top;
    background-size: cover;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

a, a:visited {
    color: #ffeee6;
}

a:hover, a:focus {
    color: #af734a;
}

body {
    width: 80%;
    margin: 0 auto;
    background-color: #ffeee6;
    padding: 0 10px 10px 10px;
    border: 5px #af734a;
}

h1 {
    margin: 0;
    padding: 10px 0;
    color: #631e00;
    text-align: center;
    font-size: 50px;
    font-family: "Libertinus Keyboard", system-ui;
}

p.subheading {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-size: 30px;
    color: #482218;
    font-family: "Libertinus Keyboard", system-ui;
}

h2 {
    margin: 0;
    padding: 5px 0;
    color: #482218;
    text-align: left;
    font-size: 30px;
    font-family: "Roboto Slab", system-ui;
}

h3 {
    margin: 0;
    padding: 5px 0;
    color: #4b2609;
    text-align: left;
    font-size: 23px;
    font-family: "Roboto Slab", system-ui;
}

@media screen and (max-width: 800px) {
    h1, h2, h3, h4 {
        font-family: "Bungee", "sans-serif";
    }
    .flex-container {
        flex-direction: column;
    }
    p, li {
        font-size: 20px;
    }
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #783e0e;
    color: #ffeee6;
    text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #783e0e;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #ffeee6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover, .topnav a:active {
    background-color: #b67e50;;
    color: #ffeee6;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.resize {
    max-width:60%;
    max-height:60%;
}

.flex-text {
    width: 700px;
    flex: 2 1 0;
    padding: 10px;
}

.flex-image {
    flex: 2 1 0;
}

table, th, td {
    border: 1px solid #ffeee6;
    border-collapse: collapse;
    background-color: #783e0e;
    font-size: 16px;
    color: #ffeee6;
    padding: 5px;
}

button {
    background-color: #783e0e;
    border: none;
    font-size: 16px;
    color: #ffeee6;
}

button:focus {
    color: #ffeee6;
    background-color: #482218;
}

div.scroll-container {
    background-color: #b67e50;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px;
}

div.scroll-container img {
    padding: 10px;
    display: inline-block;
}

* {
    box-sizing: border-box;
}

.gallery-container {
    position: relative;
    padding-bottom: 90px;
    background-color: #b67e50;
}

.gallery-image {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: #783e0e;
}

.number-text {
    color: #482218;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: #783e0e;
    opacity: 0.7;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}
